@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>The ultimate movie database offered to you by a man who is the brother of an IS LEGEND</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>