@{
}

<h1>Here is a little bit about Joel</h1>

<div>
    <a href="https://www.qwcomedy.com/">He is quite the comedian</a>
</div>

<div>
    <a href="https://baconsale.com/">And a pop culture wiz</a>
</div>

<div>
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" height ="400"/>
    </a>
</div>
